<!-- About Section -->
    <section id="hotels">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Where to Stay</h2>
                    <h3 class="section-subheading text-muted">We have identified for you some accommodation facilities where you can stay during the days of the event and, why not, during the following days, taking advantage of the opportunity to explore the wonderful Amalfi Coast. We encourage you not to delay in booking: on those days the accommodation facilities in Vietri are generally "sold out"!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hotel-la-lucertola.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hotel La Lucertola</h4>
                                    <h4 class="subheading">Via Cristoforo Colombo, 84019 Vietri sul Mare, Salerno</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Located on the cliffs of Vietri sul Mare a few steps from Torre Crestarella, La Lucertola offers modern rooms with a balcony overlooking the Gulf of Salerno. The property is completely renovated, and has a private beach with bar and solarium at an additional cost. All bright and air conditioned, rooms at Hotel La Lucertola offer free Wi-Fi, a minibar and a TV with satellite and pay-per-view channels. It offers single, double, triple and quadruple rooms. For information and availability, contact Serena at 089210255, stating that you are part of Nicoletta and Leto's wedding.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/PALAZZODELLAGUARDIA.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>B&B Palazzo Della Guardia</h4>
                                    <h4 class="subheading">Via Osvaldo Costabile, 84019 Vietri sul Mare, Salerno</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The B&B is located in a recently renovated historic building in the center of the town, a few steps from the church of San Giovanni and about 10 minutes on foot from Torre Crestarella. The property has 5 double bedrooms. To ask for availability and a quote, call Mrs. Tiziana (3347645452) stating that you are part of Nicoletta and Leto's wedding. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Calamarina.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>B&B Calamarina</h4>
                                    <h4 class="subheading">Via Osvaldo Costabile, 84019 Vietri sul Mare, Salerno</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The B&B is located in the center of the town, 4 minutes from the church of San Giovanni and about 10 minutes on foot from Torre Crestarella. The property has 3 double bedrooms. To ask for availability and a quote, call Mrs. Amalia (3458814253) and let them know that you are part of Nicoletta and Leto's wedding. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/amami.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>B&B amaMi</h4>
                                    <h4 class="subheading">Via Roma, 84019 Vietri sul Mare, Salerno</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Located 5 minutes from the square of Vietri and next to the famous SOLIMENE ceramics, B&B amaMi has 5 double rooms, a shared terrace and wifi connection. For information on availability and prices contact Daniela directly (3934721918) and let them know that you are part of Nicoletta and Leto's wedding. </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
