<!-- Team Section -->
    <section id="travel" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel Tips</h2>
                    <h3 class="section-subheading text-muted">Here you will find some travel tips and the latest news about our wedding planning.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Vietri and Surroundings</h4>
                    <p class="text-muted">We are sure that, for those who do not know it yet, Vietri sul Mare will be a wonderful discovery. If you have the opportunity to stay a few days, you will enjoy discovering the numerous ceramic shops. We recommend a visit to the majestic Solimene factory, the elegant Pinto ceramics shop, as well as a look at the artistic ceramics of Antonio D'Acunto and Liguori or the true works of art of Mirkò.
For those who have time to explore the surroundings of Vietri, we suggest visiting the city of Salerno, with its beautiful waterfront, the historic center and the splendid cloister of the Duomo, but also the most famous destinations of the Amalfi Coast such as Amalfi, Positano and, if you can, the splendid island of Capri. Weekends in June can be very busy. If you don't want to use the car, Salerno can be reached from Vietri with a walk of about 45 minutes or also with city buses and trains. The destinations of the Coast are connected with SITA buses, but more conveniently reachable with ferries departing from Marina di Vietri, whose timetables and prices can be found on the Travelmar website.</p>
                </div>
            </div>
            <div class="rockstars"></div>
            <!--div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
        </div-->
        </div>
    </section>
