<!-- Services Section -->
    <section id="gift">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wedding Gift</h2>
                    <p class="text-muted">Your presence on this special day is the most precious gift for us. However, if you wish to contribute towards our honeymoon, then we would be immensely grateful.</p>
		    <h4 class="subheading">Bank details</h4>
		    <p class="text-muted">IBAN:NL63INGB0391587013 <br>BIC: INGBNL2A</p>
                </div>
            </div>
	    <div class="rockstars"></div>
        </div>
    </section>
